.button {
  background-color: hsl(221, 51%, 25%);
  border: none;
  padding: 15px;
  color: ivory;
  box-shadow: 3px 3px 5px hsl(0, 0%, 50%);
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  margin-top: 50px;
}

.button:hover {
  background-color: hsl(221, 51%, 30%);
}

.button:active {
  background-color:hsl(221, 51%, 45%);
}
