.paragraph {
    max-width: 200px;
    width: 100%;
    color: hsl(221, 51%, 25%);
    display: inline-block;
    font-weight: bold;
  }
.paragraph--value {
    text-align: center;
    margin-top: 50px;
    font-size:larger;
  }
